body {
    background: #14141f;
    font-family: 'Nunito', sans-serif;
    color: white;
}
.container {
    display: flex;
}
.content {
    flex: 1;
    margin: 15px 40px;
}

.hotel-table {
    width: 100%;
    border-spacing: 0;
}

.hotel-table th,
.hotel-table td {
    /*border: 1px solid red;*/
    padding: 15px;
    text-align: left;
}

.hotel-table th {
    color: white;
}

.table-card {
    background: #292934;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crud-buttons {
    text-align: right;
    margin-bottom: 20px;
}
.crud-buttons button {
    background: #bfd788;
    color: black;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}